@charset "utf-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#022441;
}
.wrap {
  width:100%;
  /*height:auto;*/
  /*height:100%;*/
  min-height:1720px;
  background:url(../css/images/bg.jpg) no-repeat;
  background-size:cover;
}
.addresstext{
  color:#FFF;
  font-family:"Microsoft YaHei UI" ;
  font-size:24px;
  text-align:center;
  padding-top:96%;
	
}
.logo{
	width:80%;
	margin:20px auto;
}
.logo1{
	float:left;
	text-align:center;
  color:#FFF;
  font-family:"Microsoft YaHei UI" ;
  font-size:24px;
}
.logo2{
	float:right;
	text-align:center;
  color:#FFF;
  font-family:"Microsoft YaHei UI" ;
  font-size:24px;
}

.image_radius{
        margin-top: 100px; 
        width:220px; 
        height:220px; 
        border-radius:30px; 
}